body{
    padding-left: 400px;
    padding-right: 400px;
    margin: 0px;
    /* background colour */
    background: #C9D6FF;  
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  
background: linear-gradient(to right, #E2E2E2, #C9D6FF); 

}
p{
    color: black;
}
h1 ,h2 ,h3, h4, h5, h6{
    color: black;
    font-weight: bold;
}
.nav{
    display: flex;
    flex-direction: row;
}
.button {
    background-color: #808e9b;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0px;
    cursor: pointer;
  }
.button:hover{
    background-color: #485460;
    color: white;
    text-decoration: none;
}
.button1{
    background-color: White;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1:hover{
    background-color: black;
    color: white;
}
.footer,
.push{
    position: absolute;
    left: 0 ; right: 0 ; bottom: 0 ;
    height: [footer-height];
}
.footer{
    text-decoration: none;
    background-color: teal;
    padding-left: 400px;
}
.footer:a{
    float:left;
    width:20px;
}
#link{
    color: white;
    text-decoration: none;
.login{
}