body{
    padding-left: 400px;
    padding-right: 400px;
    margin: 0px;
    /* background colour */
    background-color: black;
}
.content{
    width: 100%;
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100%;
    margin: 0;
    box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
    box-sizing: border-box;
    display: block;
    scroll-padding-bottom: 100%;
    background: linear-gradient(to bottom, #ece9e6, #b8b8b8);
}
p{
    color: black;
}
h1 ,h2 ,h3, h4, h5, h6{
    color: black;
    font-weight: bold;
}
.navbar{
    display: flex;
    flex-direction: row;
    text-align: center;
    position: sticky;
    background-color: rgb(87, 23, 87);
    z-index: 1071;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.button {
    border: none;
    color: rgb(206, 205, 205);
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0px;
    cursor: pointer;
  }
.button:hover{
    color: white;
    text-decoration: none;
}
.button1{
    background-color: White;
    border: none;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1:hover{
    background-color: black;
    color: white;
}
.icons{
    text-decoration: none;
    background-color: teal;
    padding-left: 400px;
}
.gallery_products{
    width: auto;
    height: auto;
    margin: 10px;
    border: 5px solid black;
    float: left;
    background-color: black;
    color: white;
}
.gallery_products:hover{
    border: 5px solid white;
    cursor: pointer;
}
div.gallery_products img{
    width: 200px;
    height: 200px;
}
div.gallery_desc{
    padding: 15px;
    text-align: center;
}
.navbar a.active{
    background-color: grey;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content{
    padding-top: 60px;
}
.Login_button{
    background-color: rgb(87, 23, 87);
    top: 0;
    z-index: 1071;
    position: webkit-sticky;
    padding-left: 50px;
    padding-right: 50px;
}
.flex-container {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
  }
  
.flex-item {
    margin: 5px;
  }
.navbar_social{
    margin-left: auto;
    display: inline-flex;
    text-align: right;
}
.input_info{
    list-style-type:none;
    text-align: center;
    box-shadow: 0px 0px 0px 1px rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}
.Terms_link{
    cursor: pointer;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
#Email{
    width: 300px;
    text-align: center;
}
#Fname{
    width: 150px;
    text-align: center;
}
#Lname{
    width: 150px;
    text-align: center;
}
#Pword{
    width: 300px;
    text-align: center;
}
#RePword{
    width: 300px;
    text-align: center;
}
.signup_form{
    width: 450px;
    text-align: center;
    margin-left: 370px;
}